.section {
    background: hsl(0, 0%, 100%);
    margin: 10px auto;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    border-bottom: solid 1px hsl(0, 0%, 93%);
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__heading {
    font-size: 20px;
    margin: 0;
}